.appfx-container{
    -fx-background-color: -appfx-container;
}

/* clear -fx-shadow-highlight-color
 * TODO:
------------------------------------------------------------------------------*/


/* zero corners
------------------------------------------------------------------------------*/
.button,
.toggle-button,
.menu-button,
.split-menu-button, .split-menu-button > .label, .split-menu-button > .arrow-button,

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button,

.check-box > .box,
.choice-box,
.combo-box-base, .combo-box-base:editable > .arrow-button,

.text-field,
.text-area,
.tab,
.progress-bar > .bar,
.progress-bar > .track,
.color-picker.split-button > .color-picker-label,
.scroll-bar > .thumb,
.slider > .track
{
    -fx-background-radius: 0px;
}

/* setup controls swatch
------------------------------------------------------------------------------*/
.button,
.toggle-button,
.menu-button,
.split-menu-button,
.radio-button,

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button,

.check-box,
.choice-box,
.combo-box-base,
/*.combo-box,*/

.scroll-bar,
.slider,

.date-picker,
.color-picker,

.separator:horizontal .line, .separator:vertical .line,

.table-view,
.menu-bar{
    -fx-base: -appfx-primary-ctrl-swatch;
}

/* context-menu
------------------------------------------------------------------------------*/
.context-menu {
    -fx-background-color: -appfx-primary-swatch, -appfx-container;
    -fx-background-insets: 0, 1;
    -fx-padding: 0; /* 4 1 8 1 */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}

.context-menu .separator:horizontal .line {
    -fx-border-color: -appfx-primary-swatch transparent transparent transparent;
    -fx-border-insets: 0 0 -1 0;
}


/* menu-button
------------------------------------------------------------------------------*/
.menu-button:hover   > .label,
.menu-button:armed   > .label,
.menu-button:showing > .label{
    -fx-text-fill: -appfx-text-fill;
}
/* spinner-button
------------------------------------------------------------------------------*/
.spinner .decrement-arrow-button {
    -fx-background-insets: 0, 0 1 1 1, 1 2 2 2;
}



/* AppFX Custom UI
 * 
------------------------------------------------------------------------------*/
/* UI Dialog
 * scene dialog
------------------------------------------------------------------------------*/
.glass-pane{
    -fx-background-color: 
        linear-gradient(from 0% 0% to 100% 100%, #ecf0f1 0%, #bdc3c7 100%),
        rgba(236, 240, 241, 0.1);
    -fx-background-radius: 0;
    -fx-background-insets: 0, 4;
}
.appfx-scene-dialog{
    -fx-background-color: -appfx-container;
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 2 );
    -fx-border-color: -appfx-primary-swatch;
    -fx-border-width: 1;
}.appfx-scene-dialog-header{
    -fx-background-color: derive(-appfx-container, -5%); /*derive(-container, -15%), -appfx-container;*/
    -fx-background-insets: 0;
}.appfx-scene-dialog-header Label{
    -fx-font-size: 1.25em
}.appfx-scene-dialog-header Button{
    -fx-background-color: derive(-appfx-container, -5%);
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
}.appfx-scene-dialog-header Button SVGPath{
    -fx-fill: #2c3e50;
}.appfx-scene-dialog-header Button:hover{
    -fx-background-color: #e74c3c;
}.appfx-scene-dialog-header Button:armed{
    -fx-background-color: derive(#e74c3c, -15%);
    /*-fx-background-color: #c0392b;*/
}.appfx-scene-dialog-header Button:hover SVGPath{
    -fx-fill: -appfx-container;
}.appfx-scene-dialog-close-pane{
    -fx-background-color: 
        #e74c3c,
        #e43725;
    -fx-background-radius: 1,1;
    -fx-background-insets: 0,1;
}.appfx-scene-dialog-close-btn {
    -fx-background-color: black;
    -fx-padding: 0.25em;
    -fx-shape: "M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z";
}.appfx-scene-dialog-close-btn:hover {
    -fx-background-color: white;
}.appfx-scene-dialog-close-pane:hover{
    -fx-background-color: #c0392b, #d65548;
}

/* app bar
------------------------------------------------------------------------------*/
.appfx-app-bar{
    -fx-padding: 0.75em;
    -fx-background-color: -appfx-primary-swatch;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 2.5, 0.1, 0, 2.5);
}.appfx-app-bar #menu-btn, .appfx-app-bar #more-menu{
    -fx-background-color: transparent;
    -fx-padding: 0;
}.appfx-app-bar #menu-btn .label, .appfx-app-bar #more-menu .glyph-font{
    -fx-text-fill: -appfx-text-fill;
}.appfx-app-bar #menu-btn:hover, .appfx-app-bar #more-menu:hover{
    -fx-background-color: derive(-appfx-primary-swatch, -10%), -appfx-primary-swatch;
    -fx-background-insets: 0,1;
    -fx-effect: dropshadow(three-pass-box, rgba(29,111,165, 0.75), 3, 0.6, 1.25, 1.25);
}.appfx-app-bar #menu-btn:armed, .appfx-app-bar #more-menu:armed{
    -fx-effect: dropshadow(three-pass-box, rgba(29,111,165, 0.5),3, 0.2, 1.25, 1.25);
}.appfx-app-bar #more-menu .arrow-button .arrow{
    -fx-background-color: red;
    -fx-shape: "M12 15.984q0.797 0 1.406 0.609t0.609 1.406-0.609 1.406-1.406 0.609-1.406-0.609-0.609-1.406 0.609-1.406 1.406-0.609zM12 9.984q0.797 0 1.406 0.609t0.609 1.406-0.609 1.406-1.406 0.609-1.406-0.609-0.609-1.406 0.609-1.406 1.406-0.609zM12 8.016q-0.797 0-1.406-0.609t-0.609-1.406 0.609-1.406 1.406-0.609 1.406 0.609 0.609 1.406-0.609 1.406-1.406 0.609z";
}.appfx-app-bar #title-lbl{
    -fx-font-size: 1.25em;
    -fx-text-fill: -appfx-text-fill;
    -fx-font-weight: bold;
}

/* nav-drawer
------------------------------------------------------------------------------*/
.nav-drawer{
    -fx-background-color: -appfx-container;
    -fx-background-insets: 0;
}.nav-drawer .scroll-pane .viewport{
    -fx-padding: 0.75em;
    -fx-background-color: -appfx-container;
    -fx-background-insets: 0;
}.nav-drawer-top{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 3.5, 0.1, 0, 3.5);
}.nav-drawer-right{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 3.5, 0.1, -3.5, 0);
}.nav-drawer-bottom{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 3.5, 0.1, 0, -3.5);
}.nav-drawer-left{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 3.5, 0.1, 3.5, 0);
}